.Logo {
  width: 50px !important;
  height: 50px !important;
  mask: url('src/assets/MEDMAIS+__3_-removebg-preview 1.svg') no-repeat-center / contain;
  -webkit-mask: url('src/assets/MEDMAIS+__3_-removebg-preview 1.svg') no-repeat-center / contain;
}
