@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html,
body {
  font-family: 'DM Sans', sans-serif;
}

.Logo {
  width: 250px !important;
  height: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 40px;
}

.Texto {
  font-family: 'DM Sans', sans-serif;
  color: white;
}
