@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html,
body {
  font-family: 'DM Sans', sans-serif;
}

.BotaoMenu {
  color: white !important;
  font-family: 'DM Sans', sans-serif !important;
}

.imagensCarrossel {
  width: 250px;
  height: 300px;
}

.Logo {
  width: 186px !important;
  height: 186px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  padding: 0;
}

.Logo-principal {
  width: 140px !important;
  height: 140px !important;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

.Texto {
  font-family: 'DM Sans', sans-serif;
  color: white;
}

.TextoB {
  font-family: 'DM Sans', sans-serif;
  color: black;
  font-weight: 600 !important;
}

.imagem-logo-principal {
  max-width: 100%;
  height: auto;
}
